{% extends 'base.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}

	{{ titre }}

	{% for comment in comments %}
		<p>{{ comment}}</p>
	{% endfor %}

	<p>
		il y a
		{{ comments|length }}
		commentaires.
	</p>

	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	{{ maVariable }}

{% endblock %}
